<div class="page-wrapper">
  <div class="container">
    <!-- Partie gauche : texte -->
    <div class="left-side">
      <h1>Election 2027</h1>
      <p>Entrez en campagne présidentielle, affûtez vos arguments et affrontez vos opposants pour gouverner la France.</p>
      <p class="slogan">Un seul vainqueur. Une seule République.</p>

    </div>

    <!-- Partie droite : formulaire -->
    <div class="right-side">
      <h2>Connexion</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="username">Nom du candidat (Email)</label>
          <input
            id="username"
            type="text"
            formControlName="username"
            placeholder="Entrez votre nom d'utilisateur"
            autocomplete="username"
          >
          <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error-msg">
            Le nom d'utilisateur est requis.
          </div>
        </div>

        <div class="form-group">
          <label for="password">Code secret de campagne</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Entrez votre mot de passe"
            autocomplete="current-password"
          >
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-msg">
            Le mot de passe est requis.
          </div>
        </div>

        <div *ngIf="errorMessage" class="error-alert" role="alert">
          <strong>Erreur !</strong> {{ errorMessage }}
        </div>

        <button type="submit" [disabled]="loginForm.invalid || loading" class="btn-submit">
          <span *ngIf="!loading">Faire campagne</span>
          <span *ngIf="loading" class="loading-spinner">
            <svg class="spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Connexion en cours...
          </span>
        </button><hr>
        <button type="button" (click)="navigateToSignin()" class="btn btn-warning w-100">
          Présenter une nouvelle candidature
        </button>
      </form>
    </div>
  </div>
</div>
